fastapi
uvicorn[standard]
SQLAlchemy
greenlet
databases
pydantic
pydantic-settings
asyncpg
aiosqlite
alembic
psycopg2-binary
pre-commit
black
isort
ruff
pytest
pytest-asyncio
async-asgi-testclient
python-dateutil
redis
httpx
